<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/32b26966-762e-470e-b8e3-0cd2150cad25/resourceGroups/webdeploymentresourcegroup/providers/Microsoft.Web/sites/baportal</ResourceId>
    <ResourceGroup>webdeploymentresourcegroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://baportal-h9fqheb0hkbcbxcz.scm.eastus2-01.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://baportal-h9fqheb0hkbcbxcz.eastus2-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$baportal</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>